In [11]:
SELECT MIN(list_price) AS 'Mimumum', 
       MAX(list_price) AS 'Maximum', 
       AVG(list_price) AS 'Átlag'
FROM order_items
WHERE list_price IS NOT NULL

Mimumum,Maximum,Átlag
89.99,11999.99,1212.707871

![]()

In [14]:
SELECT STDEV(list_price) AS 'Átlag eltérés'
FROM order_items
WHERE list_price IS NOT NULL

Átlag eltérés
"1352,7982572830404"

In [15]:
SELECT VAR(list_price) AS 'Változatok'
FROM order_items
WHERE list_price IS NOT NULL

Változatok
"1830063,1249080312"

In [16]:
SELECT row_type,
    COUNT(*) row_count
FROM 
    (SELECT 
        CASE WHEN discount IS NULL THEN 'Null'
            WHEN LEN(discount) = 0 THEN 'Empty'
            ELSE 'Non Empty' 
            END AS row_type
        FROM order_items) rows
GROUP BY row_type

row_type,row_count
Non Empty,4722

In [4]:
SELECT row_type, 
    SUM(row_count) AS row_count
FROM
    (SELECT 
        CASE WHEN [value] IS NULL then 'NULL'
            WHEN row_count = 1 then 'Unique'
            ELSE 'Non Unique' 
            END AS row_type,
        row_count
    FROM (
        SELECT product_id [value], 
            COUNT(*) row_count
        FROM order_items
        GROUP BY product_id) X) Y
GROUP BY row_type

row_type,row_count
Non Unique,4680
Unique,42

![]()

In [12]:
SELECT 
    product_id AS value,
    COUNT(*) row_count
from order_items
WHERE product_id IS NOT null
GROUP BY product_id
ORDER BY product_id

value,row_count
2,77
3,86
4,97
5,91
6,110
7,101
8,85
9,101
10,97
11,97
12,104
13,103
14,86
15,91
16,95
17,91
18,89
19,78
20,84
21,90
22,94
23,100
24,89
25,98
26,90
27,21
28,26
29,24
30,22
31,13
32,22
33,22
34,11
35,17
36,29
37,20
38,18
39,16
40,21
41,24
42,24
43,25
44,16
45,32
46,19
47,14
48,28
49,22
50,20
51,19
52,26
53,17
54,17
55,26
56,28
57,15
58,26
59,18
60,24
61,25
62,25
63,21
64,20
65,35
66,24
67,16
68,19
69,18
70,22
71,26
72,22
73,20
74,19
75,18
76,18
77,21
78,27
79,16
80,14
81,24
82,23
83,15
84,16
85,21
86,15
87,19
88,23
89,18
90,18
91,28
92,26
93,25
94,19
95,31
96,20
97,22
98,12
99,24
100,28
101,26
102,25
103,28
104,20
105,25
106,27
107,16
108,21
109,20
110,16
111,18
112,3
113,6
114,2
115,4
116,2
117,4
118,2
119,3
120,2
122,3
123,6
124,7
126,5
127,3
128,5
129,3
130,4
131,2
132,2
133,2
134,2
135,3
136,3
137,4
138,3
139,4
140,2
141,4
142,5
143,1
144,2
145,4
146,2
147,4
148,3
149,3
150,3
151,4
152,2
153,5
155,3
156,3
157,1
158,3
159,5
160,4
161,2
162,2
163,4
164,2
165,2
166,4
167,1
168,3
169,2
170,1
171,4
172,4
173,3
174,1
175,2
176,1
177,1
178,2
179,2
180,5
181,3
182,4
183,1
184,4
185,4
186,4
187,2
188,4
189,1
190,3
191,3
192,1
193,3
194,5
196,3
197,4
198,5
199,1
200,1
201,1
202,3
203,5
204,5
205,4
206,2
207,5
208,2
209,3
210,3
211,1
212,1
213,4
214,4
215,4
216,4
217,3
218,1
219,3
220,4
221,2
222,1
223,4
224,3
225,4
226,4
227,3
228,2
229,3
230,6
231,2
232,2
233,2
234,4
235,6
236,3
237,3
238,3
239,1
240,2
241,2
242,5
243,4
244,2
245,3
246,2
247,2
248,5
249,4
250,1
251,5
252,7
253,6
254,4
255,2
256,1
257,3
258,1
259,2
260,4
261,2
262,1
263,7
264,3
265,6
266,1
268,5
269,4
270,1
271,5
272,2
273,1
274,2
275,3
276,3
277,2
278,1
279,1
280,1
281,3
282,5
283,4
285,1
286,3
287,1
288,1
289,1
290,1
292,3
293,4
294,1
295,6
296,1
297,5
298,3
299,1
300,6
301,4
302,4
303,1
304,5
305,1
306,4
307,2
308,3
309,1
310,4
311,2
312,1
313,3
314,1
315,1

In [13]:
SELECT TOP 10
    product_id AS value, 
    COUNT(*) row_count
from order_items
WHERE product_id IS NOT null
GROUP BY product_id
ORDER BY COUNT(*) desc

value,row_count
6,110
12,104
13,103
9,101
7,101
23,100
25,98
10,97
4,97
11,97